.add-training {
    display: flex;
    justify-content: center;
    padding: 30px;
    text-align: center;

    @media (max-width: 544px) {
        width: 100%;
    }

    mat-card {
        width: 400px;
    }

    mat-form-field {
        margin-bottom: 20px;
    }

    mat-card-title {
        margin-bottom: 20px;
    }

    mat-card-content,
    mat-card-actions {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    button {
        margin: 0 auto;
    }
}

.ico-preview {
    max-width: 50px;
    margin-top: 10px;
}

.upload-section {
    display: flex;
    flex-direction: column;

    &-buttons {
        display: flex;
        justify-content: space-between;
    }

    img {
        margin: 0 0 5px;
    }

    span {
        padding: 10px 0;
        text-align: left;
    }
}