.current-training {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    img {
        max-width: 300px;
        margin-bottom: 50px;
    }
}