<mat-toolbar color="primary">
    <div class="sidenav-toggle">
        <button (click)="onToggleSidenav()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <a [routerLink]="flowRoutes.INIT">NG Fitness</a>
    <nav>
        <ul>
            <li>
                <a *ngIf="!isAuth" [routerLink]="flowRoutes.SIGNUP" routerLinkActive="active">Signup</a>
            </li>
            <li>
                <a *ngIf="!isAuth" [routerLink]="flowRoutes.LOGIN" routerLinkActive="active">Login</a>
            </li>
            <li>
                <a *ngIf="isAuth" [routerLink]="flowRoutes.TRAINING" routerLinkActive="active">Training</a>
            </li>
            <li>
                <a *ngIf="isAuth" routerLinkActive="active" (click)="onLogout()">Logout</a>
            </li>
        </ul>
    </nav>
</mat-toolbar>